.Threads{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

/* Content */
.Threads-content{
    width: 90%;
}

.Threads-item{
    display: flex;
    border-top: 1px solid #707070;
    padding: 10px 0;
}

.Threads-item:hover{
    background-color: #eeeeee;
}

.Threads-item:last-of-type{
    border-bottom: 1px solid #707070;
}

.Threads-item img{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}

.Threads-item h1{
    font-size: 1rem;
    margin: 0.25rem 0 0.5rem 0;
}

.Threads-item h1 > a{
    font-size: 1rem;
    text-decoration: none;
}

.Threads-item p{
    font-size: 0.75rem;
    margin: 0;
    color: #666666;
}

.Threads-item p > strong{
    font-weight: normal;
    color: #000000;
}

.Threads-content p > a{
    color: #ff5500;
    text-decoration: none;
}

.Threads-item a{
    font-size: 0.75rem;
    color: #000;
}

/* Button */
.Threads button{
    width: 90%;
    height: 2.5rem;
    font-size: 1.0625rem;
    font-weight: bold;
    margin-top: 10px;
    border: none;
    border-radius: 6px;
    background-color: #666666;
    color: #FFF;
    cursor: pointer;
    outline: none;
}